@{
    ViewBag.Title = "REDWING SHOP";
    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">               
                <h2>We provide you more convenient to shop the REDWING products which are a variety of shoe styles. </h2>
            </hgroup>
        </div>
    </section>
}
<h3>To complete your shopping cart, we suggest you to do the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Login/Register first</h5>
        To make a reliability for our customers.         
    </li>

    <li class="two">
        <h5>Complete your cart</h5>
        We have provided a lot of product for you to buy as much as you need.          
    </li>

    <li class="three">
        <h5>Payment</h5>
        You can choose the payment method which you want.         
    </li>
</ol>
